<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
</head>
<body th:align="center">
<h1> 글 수정 및 삭제 창 </h1>
<form method="post" action="/board/modify">
    <input type ="hidden" id="postId" name="postId" th:value="${post.seq}">
    <label for="userId"> 작성자 :</label>
    <select name="userId" id="userId">
        <option value="">작성자를 선택해주세요</option>
        <option th:each="user: ${users}" th:value="${user.seq}" th:text="${user.userId}" th:selected="${user.seq}" ></option>
    </select><br>
    <br>
    <label for="title"> Title :</label>
    <input type="text" name="title" id="title" th:value = "${post.title}"><br>
    <br>
    <label for="content"> Content :</label><br>
    <input type="text" name="content" id="content" th:value ="${post.content}"> <br>
    <br>
    <input type="submit" value="수정"><br>
</form>
<br>
<a th:href="@{'/board/delete/' + ${post.seq}}">글 삭제</a>
<br>
<br>
<a href="/">돌아가기</a>

</body>
</html>