<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유저 조회</title>
</head>
<body>
    <h1> 현재 가입한 유저 조회 </h1>

    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>회원 번호</th>>
            <th>이름</th>
            <th>ID</th>
            <th>PW</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#users}}
            <tr>
                <td>{{id}}</td>
                <td>{{userName}}</td>
                <td>{{userId}}</td>
                <td>{{userPw}}</td>
            </tr>
        {{/users}}
        </tbody>
    </table>
</body>
</html>