<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<h1> 회원 가입 창 </h1>
<br>
<form method="post" action="/users/register">
    <label for="name"> 이름 :</label>
    <input type="text" name="name" id="name"><br>
    <br>
    <label for="id"> ID :</label>
    <input type왜 ="text" name="id" id="id"><br>
    <br>
    <label for="password"> Password :</label>
    <input type="password" name="password" id="password"><br>
    <br>
    <input type="submit" value="확인">
</form>
<br>
    <a href="/">돌아가기</a>
</body>
</html>